<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'menu_school_admin' %>
  </div>
  <div class="col-md-8">
  	<h3><i class="fa fa-angle-right"></i> Add subject</h3>
    <%= render partial: "subjects/form", locals: {subject: @subject} %>
  </div>
</div>








