<header class="header black-bg">
    <a href="#" class="logo"><b>K12</b></a>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li>
                <% if current_student %> 
                    <%= link_to "Sign out", destroy_student_session_path, :method => :delete , class: "logout" %>
                <% elsif current_school_admin %> 
                    <%= link_to "Sign out", destroy_school_admin_session_path, :method => :delete , class: "logout" , class: "logout" %>
                <% elsif current_teacher %>  
                    <%= link_to "Sign out", destroy_teacher_session_path, :method => :delete, class: "logout" %>
                <% end %>
            </li>
        </ul>
    </div>
</header>