<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


    
  
Send your message to : <%=Teacher.find(params[:teacher_id]).email%>

<%= form_tag("/students/" + 
              "/submit/"+@var, method: :post)  do %>
              
             <div>
              <%= text_area_tag(:my_input, "", size: "40x10") %>
                  <br>
                  <br>
                 </div>
                  <br>
                  <div>        
                <%= button_tag(type: "submit", class:"btn btn-theme") do %>
                    Send
                <% end %>
                </div>
              <% end %> 

            












