<div class="row">
  <br>
  <br>
  <br>
</div>

<%= link_to controller: "students", action: "view_courses"  do %>
  <i class="list-group-item">Your School's Courses</i> 
   <% end %>

<div class="row">
  <div class="col-md-2">
    <div class="list-group" width="70px;">
      <a href="#" class="list-group-item">First item</a>
      <a href="#" class="list-group-item">Second item</a>
      <a href="#" class="list-group-item">Third item</a>
      <a href="#" class="list-group-item">Fourth item</a>
      <a href="#" class="list-group-item">Fifth item</a>
    </div>
  </div>
  <div class="col-md-8">
    <% if Student.find(1).verified %>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="/LightG.html" width="800px;" height="700px;"> </iframe>
      </div>
    <% end %>
  </div>
</div>