<div class="row">
  <br>
  <br>
  <br>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="list-group" width="70px;">
   
    <%= link_to controller: "students", action: "view_contacts"  do %>
        <i class="list-group-item">View Contacts</i> 
    <% end %>
     
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Message</th>
          

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      
        <% @message.each do |Mess| %>
          <tr>
             
            <td><%= message.text%></td>
                
        
            
            </tr>
        <% end %> 

        
        
        
      </tbody> 

     </table>
  </div>
  </div>


